body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
}

#main {
    display: flex;
}

#square1 {
    position: absolute;
    width: 83px;
    height: 83px;
    background-image: linear-gradient(to bottom right, rgb(130, 100, 100), rgb(170, 98, 98));
    transition-property: transform;
    transition-duration: 1s;
    margin: -35px;
    opacity: 0.5;
    animation: rotate 2.0s linear;
    animation-iteration-count: infinite;
    border-radius: 7%;
}

#square2 {
    position: absolute;
    width: 78px;
    height: 78px;
    background-image: linear-gradient(to bottom right, rgb(133, 75, 75), rgb(165, 129, 129));
    margin: 0;
    transition-property: transform;
    transition-duration: 1s;
    opacity: 0.5;
    animation: rotate 1.5s linear;
    animation-iteration-count: infinite;
    border-radius: 7%;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}